In [30]:
import pandas as pd
df_debentures = pd.read_csv("deb_table_completa2.csv")
df_debentures

,Dados do evento,Data de pagamento,Prazos (dias úteis),Dias entre pagamentos,Expectativa de juros (%),Juros projetados,Amortizações,Fluxo descontado (R$),Ativo
0,Juros,16/06/2025,36,36,-,"39,141982","0,00000000","38,701117",CDES11
1,Juros,15/12/2025,164,128,-,"41,105046","0,00000000","39,037767",CDES11
2,Juros,15/06/2026,286,122,-,"39,141982","0,00000000","35,77352",CDES11
3,Juros,15/12/2026,413,127,-,"40,777618","0,00000000","35,808531",CDES11
4,Juros,15/06/2027,536,123,-,"39,468909","0,00000000","33,343574",CDES11
...,...,...,...,...,...,...,...,...,...
2246,Juros,18/02/2026,208,0,-,0,0,"124,808656",NTN-B32
2247,Juros,18/02/2026,208,0,-,0,0,"125,089874",NTN-B50
2248,Juros,18/02/2037,2962,0,-,0,0,"56,808016",NTN-B50
2249,Juros,19/02/2042,4216,0,-,0,0,"39,65648",NTN-B50
2250,Juros,19/02/2048,5717,0,-,0,0,"25,791263",NTN-B50

In [31]:
#Tenho que filtrar pelos ativos AESOA1 e HBSA11
df_debentures2 = df_debentures[df_debentures['Ativo'].isin(['AESOA1', 'HBSA11'])]
df_debentures2

,Dados do evento,Data de pagamento,Prazos (dias úteis),Dias entre pagamentos,Expectativa de juros (%),Juros projetados,Amortizações,Fluxo descontado (R$),Ativo
658,Juros,15/10/2025,122,127,-,"35,899453","0,00000000","34,525399",HBSA11
659,Juros,15/04/2026,246,124,-,"35,039215","0,00000000","32,387563",HBSA11
660,Juros,15/10/2026,372,126,-,"35,61264","0,00000000","31,617189",HBSA11
661,Juros,15/04/2027,495,123,-,"34,752601","0,00000000","29,663224",HBSA11
662,Juros,15/10/2027,622,127,-,"35,899453","0,00000000","29,422198",HBSA11
...,...,...,...,...,...,...,...,...,...
2095,Juros|Amortização,17/04/2028,742,-,-,0,0,"27,97",HBSA11
2106,Juros|Amortização,17/03/2031,1464,-,-,0,0,"42,55",AESOA1
2107,Juros|Amortização,17/03/2036,2709,-,-,0,0,"31,17",AESOA1
2112,Juros|Amortização,17/09/2029,1095,-,-,0,0,"51,3",AESOA1
2113,Juros|Amortização,17/09/2035,2589,-,-,0,0,"28,67",AESOA1

In [33]:
#Ver se tem ativos duplicados
ativos_duplicados = df_debentures2[df_debentures2.duplicated(subset=["Ativo", "Data de pagamento"], keep="first")]
ativos_duplicados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33 entries, 1962 to 2113
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Dados do evento           33 non-null     object
 1   Data de pagamento         33 non-null     object
 2   Prazos (dias úteis)       33 non-null     int64
 3   Dias entre pagamentos     33 non-null     object
 4   Expectativa de juros (%)  33 non-null     object
 5   Juros projetados          33 non-null     object
 6   Amortizações              33 non-null     object
 7   Fluxo descontado (R$)     33 non-null     object
 8   Ativo                     33 non-null     object
dtypes: int64(1), object(8)
memory usage: 2.6+ KB

In [34]:
df_debentures

,Dados do evento,Data de pagamento,Prazos (dias úteis),Dias entre pagamentos,Expectativa de juros (%),Juros projetados,Amortizações,Fluxo descontado (R$),Ativo
0,Juros,16/06/2025,36,36,-,"39,141982","0,00000000","38,701117",CDES11
1,Juros,15/12/2025,164,128,-,"41,105046","0,00000000","39,037767",CDES11
2,Juros,15/06/2026,286,122,-,"39,141982","0,00000000","35,77352",CDES11
3,Juros,15/12/2026,413,127,-,"40,777618","0,00000000","35,808531",CDES11
4,Juros,15/06/2027,536,123,-,"39,468909","0,00000000","33,343574",CDES11
...,...,...,...,...,...,...,...,...,...
2246,Juros,18/02/2026,208,0,-,0,0,"124,808656",NTN-B32
2247,Juros,18/02/2026,208,0,-,0,0,"125,089874",NTN-B50
2248,Juros,18/02/2037,2962,0,-,0,0,"56,808016",NTN-B50
2249,Juros,19/02/2042,4216,0,-,0,0,"39,65648",NTN-B50
2250,Juros,19/02/2048,5717,0,-,0,0,"25,791263",NTN-B50

In [35]:
# 1. Identificar duplicatas apenas para os ativos desejados
duplicatas_especificas = df_debentures[
    df_debentures['Ativo'].isin(['AESOA1', 'HBSA11'])
].duplicated(subset=["Ativo", "Data de pagamento"], keep='first')

# 2. Criar uma máscara booleana geral para o dataframe inteiro
mascara_geral = df_debentures['Ativo'].isin(['AESOA1', 'HBSA11']) & duplicatas_especificas

# 3. Remover essas linhas duplicadas
df_debentures = df_debentures[~mascara_geral]
df_debentures

,Dados do evento,Data de pagamento,Prazos (dias úteis),Dias entre pagamentos,Expectativa de juros (%),Juros projetados,Amortizações,Fluxo descontado (R$),Ativo
0,Juros,16/06/2025,36,36,-,"39,141982","0,00000000","38,701117",CDES11
1,Juros,15/12/2025,164,128,-,"41,105046","0,00000000","39,037767",CDES11
2,Juros,15/06/2026,286,122,-,"39,141982","0,00000000","35,77352",CDES11
3,Juros,15/12/2026,413,127,-,"40,777618","0,00000000","35,808531",CDES11
4,Juros,15/06/2027,536,123,-,"39,468909","0,00000000","33,343574",CDES11
...,...,...,...,...,...,...,...,...,...
2246,Juros,18/02/2026,208,0,-,0,0,"124,808656",NTN-B32
2247,Juros,18/02/2026,208,0,-,0,0,"125,089874",NTN-B50
2248,Juros,18/02/2037,2962,0,-,0,0,"56,808016",NTN-B50
2249,Juros,19/02/2042,4216,0,-,0,0,"39,65648",NTN-B50
2250,Juros,19/02/2048,5717,0,-,0,0,"25,791263",NTN-B50

In [36]:
#Salvar novamente
df_debentures.to_csv("deb_table_completa2.csv", index=False)